{{!-- Left side sticky lookup --}}

<div class="flex-column min-100-vh">
    <h1 class="app-title"><i class="fab"></i> The Developer Search!</h1>
    <main class="flex-row justify-space-between">
        <div class="col-12 col-md-4">

            <div class="card">
                <h3 class="card-header text-uppercase">Search</h3>
                <div class="card-body">
                    <div>
                        <div class="icon"><span class="icon-map-marker"></span></div>
                        <input id="city" type="text" class="form-control full-width" placeholder="Location" value="" />
                    </div>
                    <button id="themuse" type="submit" class="btn">The Muse</button>
                    <button id="jooble" type="submit" class="btn">Jooble</button>
                </div>
            </div>

            {{!-- 2nd card --}}
        </div>


        <div class="col-12 col-md-8">
            <h2 class="subtitle">Search Results: </h2>
            <ul class="list-group card">
                {{#each search}}
                <li>
                    <h2><a href="{{url}}">{{title}}</a></h2>
                    <p>{{company_name}}</p>
                    <p>{{location}}</p>
                    <p>{{url}}</p>
                </li>

                {{/each}}
            </ul>
        </div>

</div>
</main>
</div>
<script src="/javascript/getalljobs.js"></script>